<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="../../css/LGN/lgn.css">
</head>
<body>
    <!-- <div>ユーザーID:admin,パスワード:1234のみログイン可能</div> -->
    <div class="login-wrapper">
    
        <div class="login-card">

            <h2 class="title">Welcome</h2>
            <p class="subtitle">ログインしてください</p>

            <form id="loginForm">

                <div class="form-group">
                    <label>ユーザーID</label>
                    <input type="text" id="userId" placeholder="ユーザーIDを入力してください。">
                </div>

                <div class="form-group">
                    <label>パスワード</label>
                    <input type="password" id="password" placeholder="パスワードを入力してください。">
                </div>

                <button type="submit" class="btn-login">ログイン</button>               

                <label>アカウントは未登録ですか？<a href="makelgn.html" class="link">アカウントの作成</a></label>
                <p id="errorMessage" class="error-message"></p>
                <div>ユーザーID:admin,パスワード:1234のみログイン可能</div>
            </form>
        </div>
    </div>
</body>
<script src="../../js/LGN/lgn.js"></script>
</html>