<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント作成</title>
    <link rel="stylesheet" href="../../css/LGN/makelgn.css">
</head>
<body>

<div class="signup-container">
    <h2>アカウント作成</h2>

    <label>ユーザーID</label>
    <input type="text" id="userid">

    <label>パスワード</label>
    <input type="password" id="password">

    <label>パスワード（確認）</label>
    <input type="password" id="passwordConfirm">

    <button id="btnSignup">アカウント作成</button>

    <a class="link" href="lgn.html">ログイン画面へ戻る</a>
</div>

<script src="/js/LGN/makelgn.js"></script>
</body>
</html>
