<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メニュー</title>
    <link rel="stylesheet" href="../../css/MNU/mnu.css">
</head>
<body>
    <header class="header">
    <h1 class="title">My Tools</h1>
</header>

<main class="menu-container">
    <div class="menu-card" onclick="location.href='../calendar/calendar.html'">
        <h2>カレンダー</h2>
    </div>

    <div class="menu-card" onclick="location.href='../todoList/todoList.html'">
        <h2>ToDo List</h2>
    </div>

    <div class="menu-card" onclick="location.href='../wantlist/wantlist.html'">
        <h2>やりたいこと</h2>
    </div>

    <div class="menu-card" onclick="location.href='../break/break.html'">
        <h2>息抜き</h2>
    </div>
</main>    
</body>
<script src="../../js/MNU/mnu.js"></script>
</html>
